#noteDate{
    grid-row-start: 1;
    grid-column-start: 2;
}
#noteTitle{
    grid-row-start: 2;
    grid-column-start: 2;
}
#date{
    grid-row-start: 1;
    grid-column-start: 1;
}
#title{
    grid-row-start: 2;
    grid-column-start: 1;
}
#firstGrid{
    border-style:solid;
    border-color: chartreuse;

    /*child 的layout*/
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 50% 50%;
}
.baseGrid{
     /*基本*/
    border-style:solid;
    border-color: chartreuse;

    /*child layout*/
    display: grid;
    grid-template-rows: 50% 50% ;
    grid-template-columns: 100% ;
}
.keyword{
    display: inline-grid;
    place-items: center;
    color: blue;
}
.comment{
    display: inline-grid;
    place-items: center;
    color: red;
}

.greenPen{
    color: limegreen;
}
#parent{
    width: 100%;
    height: 90vh;
    margin-top: 1px;
    display: grid;

    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, 50%);
}