<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>One Page Note</title>
    <link href="/static/css/note.css" rel="stylesheet">
</head>
<body>
<div id="parent">
    <div id="firstGrid">
        <div id="date" class="greenPen">日期 : </div>
        <div id="noteDate" contenteditable="true" class="greenPen">Untitled</div>
        <div id="title" class="greenPen">主題 : </div>
        <div id="noteTitle" contenteditable="true" class="greenPen">Untitled</div>
    </div>
    <div class="baseGrid"></div>
    <div class="baseGrid"></div>
    <div class="baseGrid"></div>
    <div class="baseGrid"></div>
    <div class="baseGrid"></div>
    <div class="baseGrid"></div>
    <div class="baseGrid"></div>
</div>
</body>
</html>