<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>One Page Note</title>
    <link href="/static/css/note.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/static/js/note.js"></script>
</head>
<body>
<input type="button" id="button8" value="8">
<input type="button" id="button16" value="16">
<input type="button" id="button32" value="32">
<input type="button" id="button64" value="64">
<div id="noteId" value="{{.}}" style="display: none"></div>

<div id="all">
    <div id="noteList">
        <div id="noteListTitle">note List</div>
        <div id="noteListItems">
        </div>
    </div>
    <div id="note">
        <div id="firstGrid">
            <div id="date" class="greenPen">日期 : </div>
            <div id="noteDate" contenteditable="true" class="greenPen">0000-00-00</div>
            <div id="title" class="greenPen">主題 : </div>
            <div id="noteTitle" contenteditable="true" class="greenPen">Untitled</div>
        </div>
    </div>
</div>
</body>
</html>
<script id="noteItemTemplate" type="text/x-custom-template">
    <div class="noteItem"></div>
</script>
<script id="baseGridTemplate" type="text/x-custom-template">
    <div class="baseGrid">
        <div contenteditable="true" class="keyword"></div>
        <div contenteditable="true" class="comment"></div>
    </div>
</script>
