<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>One Page Note</title>
    <link href="/static/css/note.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/static/js/note.js"></script>
</head>
<body>
<div id="parent">
    <div id="firstGrid">
        <div id="date" class="greenPen">日期 : </div>
        <div id="noteDate" contenteditable="true" class="greenPen">0000-00-00</div>
        <div id="title" class="greenPen">主題 : </div>
        <div id="noteTitle" contenteditable="true" class="greenPen">Untitled</div>
    </div>
</div>
</body>
</html>
<script id="baseGridTemplate" type="text/x-custom-template">
    <div class="baseGrid">
        <div contenteditable="true" class="keyword"></div>
        <div contenteditable="true" class="comment"></div>
    </div>
</script>
